
@font-face {
    font-family: "Noto sant";
    src: url(noto-sant/NotoSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Noto sant";
    src: url(noto-sant/NotoSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

body{
    font-family: "Noto sant";
    font-weight: 400;    
    /*padding-left: 188px;*/
}

* {
    box-sizing: border-box;
}

.seitentitel{
    font-family: "Noto sant";
    font-weight: 500;
    padding-top: 88px;
    padding-bottom: 16px;
}
.unterzeile{
    padding-top: 16px;
    padding-bottom: 64px;
}
.badge{
    font-family: "Noto sant";
    font-weight: 500;
}
.kartentitel{
    font-family: "Noto sant";
    font-weight: 500;
}
.containtbox{
    height: 100%;
    padding:  16px 24px 24px 24px;
    
}

.filterbar{
    padding-top: 64px;
    padding-bottom: 64px;
}


/* grid*/
.container{
    width:95%;
    margin-right: auto;
    
}

.row {
    width: 100%;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}
[class *="col-"]{ 
    border: 1px solid #232323;
    float: left;
    min-height: 1px;
    height: auto;
}

.col-4{
    width: 25%;
}


/*.col-1{
    width: 16.66%;
}

.col-2{
    width: 33.33%;
}
.col-3{
    width: 50%;
}
.col-6{
    width: 100%;
}*/

/*
Brakpoints
480   pixel (Iphone quer    )
768   Pixel (Ipad   hoch    )
1024  Pixel (Ipad   quer    )
*/
/*Media*/
@media (max-width: 1024px){
    .col-4{
        width: 33.33%;
    }

}
@media (max-width: 768px){
    .col-4{
      width: 50%;
    }

}
@media (max-width: 650px){
    .col-4{
       width: 100%;
    }

}