body{
    height: 10000;
}
#fixdiv{
    width: 200px;
    height: 200px;
    background-color: gray;
    position: fixed;
    bottom: 0;
    right: 0;
}
#stickydiv{
    width: 200px;
    height: 200px;
    background-color: red;
    position: sticky;
    top: 80px;
    margin-top: 350px;
}
span{
    position: static;
    top: 300px;
    right: 200px;
}