div {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-bottom: 2rem;
}
/*box-shadows: x-versatz y-versatz weichzeichnung vergrößerung farbe (insert*/
#test01{
    box-shadow: 5px 5px red;
}
#test02{
    box-shadow: 5px 5px 30px red;
}
#test03 {
    box-shadow: 5px 5px 30px 10px red;
}
#test04{
    box-shadow: 0px 0px 30px 10px green inset;
}
#test05{
    box-shadow:  5px 5px 30px red, 0px 0px 30px 10px green inset;
}