.container{
    background-color: gray;
}

img{
    width: 200px;
    height: 200px;
    float: right;
}

p{
    background-color: red;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}