#test{
    height: 400px;
    width: 400px;
    background-color: gray;
}
#test::before{
    content: "Ich bin das Pseudoelemt ::befor! ";
    display: block;
    background-color: red;
}

#test::after{
    content: " Ich bin das Pseudoelemt ::after! ";
    display: block;
    background-color: blue;
}